/* 1. General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  max-width: 1280px;
}

.btnContainer {
  display: flex;
  gap: 1rem;
}

button {
  background-color: #6eeb83;
  border: none;
  cursor: pointer;
  width: clamp(4rem, 2.82rem + 5.393vw, 7rem);
  font-size: var(--fnt-size-sm);
  padding: 0.5em;
  transition: background-color 0.5s !important;
}

button:hover {
  background-color: #ff5714 !important;
}

.delAllBtn {
  background-color: #ff5714;
  transition: background-color 0.5s !important;
}

.delAllBtn:hover {
  background-color: #6eeb83 !important;
}

.wrapper {
  font-family: 'Lato', sans-serif;
  margin: 1em;
  padding: 1em;
}

:root {
  --fnt-size-lrg: clamp(0.7rem, 3.5vw - 1rem, 1.6rem);
  --fnt-size-sm: clamp(0.7rem, 3.5vw, 1.1rem);
}

@media screen and (min-width: 1280px) {
  :root {
    --fnt-size-lrg: clamp(1.6rem, 1vw, 3rem);
    --fnt-size-sm: clamp(1.1rem, 1vw, 2rem);
  }
}

@media screen and (max-width: 1000px) {
  .board {
    flex-wrap: wrap;
    border-top: none !important;
    width: 50%;
  }

  header {
    border-top: 2px solid black;
  }

  .taskContainer {
    border-right: none !important;
    min-height: 20rem;
  }

  .btnContainer {
    justify-content: center;
  }
}

/* 2. Header */

header {
  border-bottom: 2px solid black;
}

header div {
  font-size: var(--fnt-size-lrg);
  padding: 1em 0;
  text-align: center;
}

.Tasks {
  background-color: #1be7ff;
}
.Doing {
  background-color: #6eeb83;
}
.Testing {
  background-color: #e4ff1a;
}
.Done {
  background-color: #ff5714;
  border-right: none;
}

/* 3. Board */

.board {
  border: 2px solid black;
  display: flex;
  margin: auto;
  margin-bottom: 0.5em;
  min-height: 30em;
}

.board > * {
  flex: 1 1 100%;
}

.taskContainer {
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
}

.taskContainer > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.columnTasks .task {
  background-color: #1be7ff;
}

.columnDoing .task {
  background-color: #6eeb83;
}

.columnTesting .task {
  background-color: #e4ff1a;
}

.columnDone .task {
  background-color: #ff5714;
}

.board div:last-child {
  border-right: none;
}

/* 4. Task */
.task {
  background-color: #1be7ff;
  margin-top: 0.5em;
  padding: 0.5em;
}
.task > div {
  display: flex;
}

.task > div header {
  border: none;
  display: block;
  font-size: var(--fnt-size-sm);
  margin-right: auto;
}

.task img {
  box-shadow: inset;
  cursor: pointer;
  transition: box-shadow 0.5s;
}

.test {
  cursor: pointer;
}

.test:hover {
  transition: box-shadow 0.5s;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.5);
}

.task img:hover {
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.5);
}

.task p {
  font-size: var(--fnt-size-sm);
  margin-right: auto;
  margin-top: 1em;
  max-width: 30ch;
}

/* 5. Add Task */

.addTask {
  align-items: center;
  background: #00000050;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.hideCard {
  display: none;
}

.box {
  background: #fff;
  border-radius: 4px;
  border: 1px solid #999;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
  width: 30em;
}

.box h2 {
  flex: 1 1 100%;
  font-size: clamp(1.3rem, 3.5vw, 1.6rem);
}

.taskForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  gap: 0.5em;
}

.taskForm > * {
  width: clamp(10rem, 75vw, 20rem);
}

.taskForm > label {
  font-size: var(--fnt-size-sm);
}

.taskForm input {
  border: 2px solid black;
  margin-bottom: 1em;
  padding: 0.5em;
}

.submit {
  background-color: #6eeb83 !important;
}

.taskForm button {
  background-color: #e4ff1a;
}
